<!DOCTYPE html>
<title>rave. backend</title>
<link rel="icon" href="logo32.png">
<script src="/socket.io/socket.io.js"></script>
<script src="backend.js"></script>
<link rel="stylesheet" href="backend.css">
<div id="streamControls" class="hidden" style="visibility: hidden;">
    <div id="stats">
        <div style="margin-top:3em" class="text">
            current listeners: 
            <span id="listeners">0</span>
        </div>
    </div>
    <div id="stream">
        <span class="text">Server address:</span>
        <input type="text" class="full-select" id="stream-addr">
        <br>
        <span class="text">Server password:</span>
        <input type="text" class="full-select" id="stream-key">
    </div>
</div>