<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# music:  http://ogp.me/ns/music#">
    <head>
        <title>rave.</title>
    
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
        <meta name="robots" content="index, follow">
    
        <meta name="theme-color" content="#FFFF43">
        <meta name="referrer" content="no-referrer">
    
        <meta name="description" content="an internet bedroom rave">
    
        <!--Facebook open graph tags-->
        <meta property="og:title" content="rave.">
        <meta property="og:type" content="music.radio_station">
        <meta property="og:url" content="https://rave.r0uge.org">
        <meta property="og:image" content="https://rave.r0uge.org/logo_black.png">
        <meta property="og:image:alt" content="logo, a hazard diamond with a yellow smiley face">
        <meta property="og:description" content="an internet bedroom rave">

        <!--Twitter card tags-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@rave_dot">
        <meta name="twitter:creator" content="@_caffeinu">
        <meta name="twitter:title" content="rave.">
        <meta name="twitter:description" content="an internet bedroom rave">
        <meta name="twitter:image" content="https://rave.r0uge.org/logo_black.png">
        <meta name="twitter:image:alt" content="logo, a hazard diamond with a yellow smiley face">

        <link rel="icon" href="/logo_recolorable32.png">
        
        <link rel="preload" href="/frontend.css" as="style">
        <link rel="preload" href="/socket.io/socket.io.js" as="script">
        <link rel="preload" href="/client.js" as="script">
    
        <link rel="stylesheet" href="/frontend.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/client.js"></script>
    </head>

    <body>
        <div class="centered">
            <object data="logo.svg" type="image/svg+xml" class="logo img" id="logo" alt="logo, a hazard diamond with a yellow smiley face"></object>
            <div class="logo text">rave.</div>
            <div class="text clickThrough" id="tagline">click to start listening!</div>
            <div class="clickIn hidden stopBtn" id="control" style="visibility: hidden; opacity: 0;"></div>
        </div>
    </body>
</html>