@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    text-align: center;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;;
}
.text {
    color: #ffffff;
    font-size: 1.5em;
}

input{
    font-size: 1.5em;
    background-color: #333333;
    outline: none;
    margin: 25px;
    color: #ffffff;
    border: 1px solid #444444;
    border-radius: 5px 0px 5px 0px;
}
input::active{
    background-color: #666666;
}
  
div {
    transition: opacity .1s linear;
    background: none;
}

.hidden{
    opacity: 0;
}

#authDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::placeholder {
    color: #ffffff;
}

#stats {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.full-select {
    width: 45vw;
}