@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  text-align: center;
  background-color: #000000;
  font-family: 'Roboto', sans-serif; }

.text {
  color: #ffffff;
  font-size: 1.5em; }

input, select {
  font-size: 1.5em;
  background-color: #333333;
  outline: none;
  margin: 25px;
  color: #ffffff;
  border: 1px solid #444444;
  border-radius: 5px 0px 5px 0px; }

input::active {
  background-color: #666666; }

select option {
  background: #333333;
  color: #ffffff;
  box-shadow: inset 20px 20px #666666; }

div {
  transition: opacity .1s linear; }

.hidden {
  opacity: 0; }

#authDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

::placeholder {
  color: #ffffff; }

#stats {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%); }

#liveIndicator {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.off {
  background-color: #ffffff; }

.on {
  animation: 1s infinite alternate active; }

@keyframes active {
  from {
    background-color: #ffffff; }
  to {
    background-color: #ff0000; } }
