@import url("https://fonts.googleapis.com/css?family=Raleway:400i|Roboto");
body {
  background: #000000;
}

* {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

:root {
  --transition-time: 5s;
  --chat-top: 35vh;
  --chat-size: 2.5rem;
}

@-webkit-keyframes rtl {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes rtl {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

.chat_msg {
  position: absolute;
  z-index: 10;
  font-size: 2.5rem;
  font-size: var(--chat-size);
  top: 35vh;
  top: var(--chat-top);
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000,	-3px 3px 0 #000, 3px 3px 0 #000;
}

.chat_msg.rtl {
  right: 0vw;
  -webkit-animation: rtl 5s ease-in-out 0s 1 normal forwards;
          animation: rtl 5s ease-in-out 0s 1 normal forwards;
  -webkit-animation: rtl var(--transition-time) ease-in-out 0s 1 normal forwards;
          animation: rtl var(--transition-time) ease-in-out 0s 1 normal forwards;
}

.text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#tagline {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 1.75vh;
}

.clickThrough, .clickIn {
  -webkit-transition: opacity 1s ease-in-out .1s;
  transition: opacity 1s ease-in-out .1s;
}

.hidden {
  opacity: 0;
}

.hide {
  -webkit-animation: hide 1s linear 1s;
          animation: hide 1s linear 1s;
}

@-webkit-keyframes hide {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes hide {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

.logo.text {
  font-size: 5vh;
  padding-bottom: .35em;
}

#control {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0.75em 0 0 0;
  border-style: solid;
  height: 0em;
  width: 0em;
}

#control.stopBtn {
  border-width: 1em;
  border-color: #ffffff;
}

#control.playBtn {
  border-width: 1em 0 1em 1.73em;
  border-color: transparent transparent transparent #ffffff;
}

#logo {
  height: 60vmin;
  width: auto;
}

#chat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@-webkit-keyframes dropShadow {
  0% {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(125, 0, 0, 0.75);
            box-shadow: 0px 0px 5px 3px rgba(125, 0, 0, 0.75);
  }
  100% {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0);
  }
}

@keyframes dropShadow {
  0% {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(125, 0, 0, 0.75);
            box-shadow: 0px 0px 5px 3px rgba(125, 0, 0, 0.75);
  }
  100% {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0);
  }
}

.empty {
  -webkit-animation: dropShadow 2s ease-out;
          animation: dropShadow 2s ease-out;
}

#msg {
  max-width: 50vw;
  min-width: 25vw;
}

input {
  font-size: 1.5em;
  background-color: #222222;
  outline: none;
  margin: 2px;
  color: #ffffff;
  border: 1px solid #222222;
  border-radius: 5px 0px 5px 0px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

input[type="button"] {
  padding-left: 5%;
  padding-right: 5%;
}

input::-webkit-input-placeholder {
  color: #555555;
}

input:-ms-input-placeholder {
  color: #555555;
}

input::-ms-input-placeholder {
  color: #555555;
}

input::placeholder {
  color: #555555;
}

input[type="button"]:active {
  background: #222222;
}

.footer {
  position: absolute;
  top: 100vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
}

.social-icons a {
  background-image: url("/socialmedia_sprites_small.png");
  background-repeat: no-repeat;
  display: block;
  height: 64px;
  width: 64px;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.social-icons a:hover {
  opacity: 0.8;
}

.social-icons a:active {
  opacity: 0.5;
}

.twitter {
  background-position: 0 0;
}

.soundcloud {
  background-position: -65px 0;
}

.facebook {
  background-position: -130px 0;
}
/*# sourceMappingURL=frontend.css.map */