@import url('https://fonts.googleapis.com/css?family=Raleway:400i|Roboto');

body {
    background: #000000;
}

* {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.text {
    user-select: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tagline {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 1.75vh;
}

.clickThrough, .clickIn{
    transition: opacity 1s ease-in-out .1s;
}

.hidden {
    opacity: 0;
}

.hide{
    animation: hide 1s linear 1s;
}

@keyframes hide {
    from{visibility: visible;}
    to{visibility: hidden;}
}

.logo.text{
    font-size: 5vh;
    padding-bottom: .35em;
}

#control {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.75em 0 0 0;
    border-style: solid;
    height: 0em;
    width: 0em;
    &.stopBtn{
        border-width: 1em;
        border-color: #ffffff;
    }
    &.playBtn{
        border-width: 1em 0 1em 1.73em;
        border-color: transparent transparent transparent #ffffff;
    }
}

#logo {
    height: 60vmin;
    width: auto;
}

#chat {
    display: inline-flex;
}

#msg {
    max-width: 50vw;
    min-width: 25vw;
}

input {
    font-size: 1.5em;
    background-color: #333333;
    outline: none;
    margin: 2px;
    color: #ffffff;
    border: 1px solid #444444;
    border-radius: 5px 0px 5px 0px;
    transition: all 100ms ease-in-out;
}

input[type="button"] {
    padding-left: 5%;
    padding-right: 5%;
}

input::placeholder {
    color: #cccccc;
}

input[type="button"]:active {
    background: #222222;
}

.empty {
    background: #550000;
}

.footer{
    position: absolute;
    top: 100vh;
    left: 50vw;
    transform: translate(-50%,-100%)
}

.social-icons{
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons li{
    display: inline-block;
}

.social-icons a{
    background-image: url("/socialmedia_sprites_small.png");
    background-repeat: no-repeat;
    display: block;
    height: 64px;
    width: 64px;
    transition: all 350ms ease-in-out;
}

.social-icons a:hover{
    opacity: 0.8;
}

.social-icons a:active{
    opacity: 0.5;
}

.twitter{
    background-position: 0 0;
}

.soundcloud{
    background-position: -65px 0;
}

.facebook{
    background-position: -130px 0;
}